
[v-cloak] > *  {
    display: none;
}

[v-cloak]::before {
    content: "4 In A Row";
    display: block;
    width: 225px;
    height: 250px;
    background-image: url("/images/loading2.png");
    font-size: 3em;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.md-card.user-card {
    max-width: 250px; 
    background: #D7D7D7;
}
.md-app-content .md-card.user-card {
    margin-left: 8px;
    margin-right: 8px; 
}
.md-card.user-card.current-player {
    border: solid 1px;  
}

.md-card.board-card  {
    width: min(90vw, 80vh);
    height: min(90vw, 80vh);
    max-height: 550px; 
    max-width: 550px; 
    background-color: rgb(230, 230, 230); 
}
.md-content.md-theme-default{
    background: transparent;
}

.md-app.md-theme-default {
    background: content-box radial-gradient(white, rgb(30, 130, 220));
}

.md-app.md-theme-default.YELLOW.win {
    background: radial-gradient(circle at top left, rgb(255, 255, 0), rgb(30, 130, 220));
}
.md-app.md-theme-default.RED.win {
    background: radial-gradient(circle at top left, rgb(255, 100, 100), rgb(30, 130, 220));
}
.md-app.md-theme-default.win {
    animation: gradient 4s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-size: 200% 200%;
        background-position: 100% 100%;
    }
    50% {
        background-size: 200% 200%;
        background-position: 0% 0%;
    }
    100% {
        background-size: 200% 200%;
        background-position: 100% 100%;
    }
}

@import 'material-icons/iconfont/material-icons.css';
@import 'vue-material/dist/vue-material.css';
@import 'vue-material/dist/theme/default.css';
