<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="'4 in a row' game">
    <meta name="theme-color" content="#FF6464"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">

    <title>4 in a ROW</title>
    
    <link rel="stylesheet" href="css/style.css">
    
  </head>


  <body>
    
    <noscript>'4 in a row' Can't be run without javascript :(</noscript>

    <div id="fourInARowApp" class="page-container md-layout-row" v-cloak>
     
      
      <md-dialog :md-active.sync="dialogRemote.show" >
        <md-dialog-title>{{$t('remoteTitle')}}</md-dialog-title>
        <md-dialog-content>
        

          <md-steppers :md-active-step.sync="stepper.active" md-vertical md-linear>
            <md-step id="first" :md-label="$t('ClickToInviteRemote')" :md-description="$t('remoteExplanation')" 
                    :md-editable="false" :md-done.sync="stepper.first">
            
              <md-button :title="$t('ClickToInviteRemote')"  class="md-raised md-primary" @click="inviteRemote">{{$t('continue')}}</md-button>
            </md-step>
      
            <md-step id="second" :md-label="$t('shareUrlToInviteRemote')" :md-description="$t('clickToCopyExplanation')" 
                  :md-editable="false" :md-done.sync="stepper.second">
                   
                <div id="invitationUrl" class="router-link-exact-active router-link-active" 
                      @click="copyToClipboard">{{remoteManager.invitationUrl}}</div>
                <div id="qrcodePlacHolder"></div>

                <md-progress-bar md-mode="indeterminate" v-show="remoteManager.waiting"></md-progress-bar>
                <div class="md-caption" v-if="remoteManager.waiting && remoteManager.invitationUrl">{{$t('waitingForRemotePlayer')}}</div>

            </md-step>
      
          </md-steppers>


        </md-dialog-content>

        <md-dialog-actions>
          <md-button class="md-primary" @click="cancelRemote">{{ $t('cancel')}}</md-button>
        </md-dialog-actions>
      </md-dialog>

     
      <md-app class="fourinarow-app" :class="winnerClass"> <!-- {'win' : winner.key != ''} -->
        
        <md-app-toolbar class="md-primary">
          <md-button class="md-icon-button" @click="menu.show = true">
            <md-icon>menu</md-icon>
          </md-button>
          <span class="md-title">{{ $t("title") }} </span>
        </md-app-toolbar>
        
        <md-app-drawer  md-swipeable :md-active.sync="menu.show">

          <drawer-content :settings='settings' :disabled='game.isBeingPlayed()'></drawer-content>

        </md-app-drawer>

      <md-app-content>

        <div class="md-layout">

          <md-card class="md-layout-item md-xsmall-size-100 board-card md-elevation-2"> 
            <canvas id="boardCanvas"></canvas>  
            <md-progress-bar md-mode="indeterminate" 
                  v-show="remoteManager.waiting || game.currentPlayer.strategy.waiting"></md-progress-bar>
             
          </md-card>

          <div class="  md-layout md-alignment-top-left">

            <div class=" md-layout-item md-medium-size-100 md-large-size-66 md-xlarge-size-50 ">
              <md-toolbar md-elevation="1" class=" md-dense">
               
                <!-- UNDO -->
                <md-button  class="md-icon-button"
                            @click="undo"
                            :title="$t('undoTitle')"
                            :disabled="isUndoDisabled()">
                  <md-icon>undo</md-icon>
                </md-button>
                <div class="md-toolbar-section-end">
                  <!-- start a new game -->
                  <md-button  :class="{'md-icon-button' : winner.key == '', 'md-raised': winner.key != '','md-accent': winner.key != ''}"
                              @click="checkRestart"
                              v-if="(! remoteManager.isConnected) || remoteManager.isServer "
                              :title="$t('cancelRestartTitle')" >
                    <md-icon>play_circle_outline</md-icon><span v-if=" winner.key != '' "  >{{ $t("newGame") }}</span>
                  </md-button>

                  <!-- remote -->
                  <md-button  class=" md-icon-button " 
                              @click="checkRemote"
                              :title="$t('remoteTitle')"
                              v-if="! remoteManager.isConnected" >
                    <md-icon>cast</md-icon>
                  </md-button>
                  <!-- cancel remote -->
                  <md-button  class=" md-icon-button " 
                              @click="checkCancelRemote"
                              :title="$t('cancelRemoteTitle')"
                              v-if="remoteManager.isConnected" >
                    <md-icon>link</md-icon>
                  </md-button>

                </div>
              </md-toolbar>
            </div>

            <spacer></spacer>

            <div class=" md-layout-item md-medium-size-50 md-large-size-33 md-xlarge-size-25">
              <user-board  :player='players[0]'  v-on:resume='resume(players[0])' 
                        :display-settings="! remoteManager.isConnected" ></user-board>
            </div>

            <div class=" md-layout-item md-medium-size-50 md-large-size-33 md-xlarge-size-25">
              <user-board :player='players[1]' v-on:resume='resume(players[1])' 
                        :display-settings="! remoteManager.isConnected" ></user-board>
            </div>
            
            <spacer></spacer>
            

            <msg-box :remote-manager='remoteManager'></msg-box>
               

          </div>

        </div>


        <md-snackbar id="snackbarmsg" :md-active.sync="snackbar.show" v-on:md-closed="snackbar.onClose()"> 
          <span>{{ snackbar.msg }}</span>
          <md-button class="md-primary" @click="snackbar.show = false"><md-icon>close</md-icon></md-button>
        </md-snackbar >
 
      </md-app-content> 

    </md-app>

    
    <md-dialog-confirm
            :md-active.sync="confirm.show"
            :md-title="confirm.title" 
            md-content=""
            :md-confirm-text="$t('confirm')"
            :md-cancel-text="$t('cancel')"
            @md-confirm="confirm.onConfirm" />

    </div>
        
    <script src="./js/main.js"></script>

  </body>
</html>